services:

  # Deno application
  deno:
    build:
      dockerfile: Dockerfile
    volumes:
      - .:/home/deno/app
    command: ["deno", "run", "test:e2e-with-init", "--watch"]
    env_file:
      - test.env
    depends_on:
      garage:
        condition: service_healthy
      clamav:
        condition: service_healthy

  # S3-compatible storage server
  garage:
    image: dxflrs/garage:v2.1.0
    volumes:
      - ./garage/garage.toml:/etc/garage.toml:ro
    env_file:
      - test.env
    healthcheck:
      test: ["CMD", "/garage", "status"]
      timeout: 10s

  # ClamAV antivirus service
  clamav:
    image: clamav/clamav:stable
    platform: linux/amd64
    volumes:
      - clam-db:/var/lib/clamav
    user: clamav
    entrypoint: /init-unprivileged
    healthcheck:
      test: ["CMD-SHELL", "clamdscan --no-summary /etc/hosts >/dev/null 2>&1"]
      timeout: 5s
      start_period: 120s

volumes:
  clam-db:
