services:

  # Deno application
  deno:
    build:
      dockerfile: Dockerfile
    volumes:
      - .:/home/deno/app
    command: ["deno", "run", "test", "--watch"]
    env_file:
      - test.env
    depends_on:
      minio:
        condition: service_healthy
      clamav:
        condition: service_healthy

  # MinIO S3-compatible storage service
  minio:
    image: minio/minio
    ports:
      - "9010:9010"
      - "9011:9011"
    volumes:
      - minio_storage:/data
    env_file:
      - test.env
    environment:
      MINIO_ADDRESS: ':9010'
      MINIO_CONSOLE_ADDRESS: ':9011'
    command: server --console-address ":9011" /data
    healthcheck:
      test: timeout 5s bash -c ':> /dev/tcp/127.0.0.1/9010' || exit 1
      start_period: 5s
      interval: 10s
      timeout: 5s
      retries: 2

  # MinIO client to initialize bucket
  minio-init:
    image: minio/mc
    env_file:
      - test.env
    depends_on:
      minio:
        condition: service_healthy
    entrypoint: |
      /bin/sh -c "
        mc alias set dataset $${S3_ENDPOINT} $${S3_ACCESS_KEY_ID} $${S3_SECRET_ACCESS_KEY};
        mc mb dataset/$${S3_BUCKET} --ignore-existing --region $${S3_REGION};
        exit 0
      "

  # ClamAV antivirus service
  clamav:
    image: clamav/clamav:stable
    platform: linux/amd64
    volumes:
      - clam-db:/var/lib/clamav
      - ./clamd.conf:/etc/clamav/clamd.conf:ro
    user: clamav
    entrypoint: /init-unprivileged
    healthcheck:
      test: ["CMD-SHELL", "clamdscan --no-summary /etc/hosts >/dev/null 2>&1"]
      timeout: 5s
      start_period: 120s

volumes:
  clam-db:
  minio_storage:
